body{
  /*  background-color: #403030;  dark gray */
 background-image: linear-gradient(to right, #29323c 0%, #485563 100%);

    /* blue #4EB1BA */
    /* gray white #E9E9E9 */
    /* dark gray  #222930;  */
}

h1, h2, table, p {
    color: #4EB1BA;
/*    background-color: #222930;*/
}

.blackPanel {
    background-color: #E9E9E9;
}

.spacer {
    margin-top: 40px;
    
}

#scene {
    
    min-height:400px;
   margin-top: 60px;
    padding-top:10px;
    background:url(../images/accueil_photo2.jpg) no-repeat center -200px;
    text-align:center;
    
    
}

#scene_connexion {
    background: url(../images/photo_connexion.png) no-repeat center top;
    margin-top: 60px;
    padding-top:10px;
    text-align:center;
    min-height: 600px;
    background-position: center center;
    
    
    
}

#scene_inscription {
    background: url(../images/photo_connexion.png) no-repeat center top;
    margin-top: 60px;
    padding-top:10px;
    text-align:center;
    min-height: 600px;
    background-position: center center;
    
    
    
}