body{
    background-color: #E9E9E9; /* dark gray */
    /* blue #4EB1BA */
    /* gray white #E9E9E9 */
    /* dark gray  #222930;  */
}

h1 {
    color: #4EB1BA;
}

.spacer {
    margin-top: 40px;
}