<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html 
    xmlns="http://www.w3.org/1999/xhtml"
    xmlns:th="http://www.thymeleaf.org" 
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    
    layout:decorator="template1">
    
    <head>
        <title>Easy Cab | Bienvenue</title>
        <meta charset="UTF-8" />
       
    </head>
    <body>
         <div layout:fragment="content">
            <div class="col-md-6">
             <img src="/images/dive-vtc.png" alt="Smiley face" height="700" width="700" />
            </div>
            
            
        </div>
    </body>
</html>
