<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html 
    xmlns="http://www.w3.org/1999/xhtml"
    xmlns:th="http://www.thymeleaf.org" 
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    
    layout:decorator="template1">
    
    <head>
        <title>Easy Cab | Espace personnel</title>
        <meta charset="UTF-8" />
        <link rel="stylesheet" type="text/css" th:href="@{/css/myStyle.css}" />
        
    </head>
    <body>
        <div layout:fragment="content" >
            <div class="container">
                <div class="row">
                <h2>Bienvenue <small th:text="${client.prenom}" class=""></small></h2>
                </div>
             
                <div class="row">
                    <div class="panel panel-info col-md-4 col-md-offset-0 blackPanel">
                        <div class="panel panel-heading">Course</div>
                        <div class="panel panel-body">
                            
                        </div>
                    </div>
                    <div class="col-md-4 col-md-offset-4">
                        <a th:href="@{/reservation}" class="btn btn-warning">Reserver</a>
                    </div>
                </div>
                <div class="row">
                    <div class="panel panel-info col-md-4 col-md-offset-0 blackPanel">
                        <div class="panel panel-heading">Infos</div>
                        <div class="panel panel-body">
                            
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="panel panel-info col-md-4 col-md-offset-0 blackPanel">
                        <div class="panel panel-heading">Message</div>
                        <div class="panel panel-body">
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>
