<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html 
    xmlns="http://www.w3.org/1999/xhtml"
    xmlns:th="http://www.thymeleaf.org" 
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    
    layout:decorator="template1">
    
    <head>
        <title>Easy Cab | S'inscrire</title>
        <meta charset="UTF-8" />
        <link rel="stylesheet" type="text/css" th:href="@{/css/myStyle.css}" />
        
    </head>
    <body>
        <div layout:fragment="content" >
            <div class="container">
                <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3 col-sm-offset-3 spacer">
                    <div class="panel panel-default ">
                        <div class="panel-heading">Détails Carte Bancaire <img th:src="@{/images/cb.png}" class="col-md-offset-3"/>
                        </div>
                        <div class="panel-body">
                            <form th:action="@{/accueil/saveCB(id_client = ${client.idClient})}" th:object="${carteBancaire}" method="post">
                              
                                <!-- radio type de care -->
                                <div class="form-group">
                                    <label class="control-label">Type de carte</label>
                                    <div class="row" />
                                    <input  type="radio" th:name="typeCarte" th:value="Visa" class="row"> Visa </input>
                                    <input  type="radio" th:name="typeCarte" th:value="Electron" class="row"> Electron </input>
                                    <input  type="radio" th:name="typeCarte" th:value="MasterCard" class="row"> Master Card </input>
                                    <div class="alert alert-danger" th:errors="*{typeCarte}"></div>   
                                </div>
                                
                                
                                <div class="form-group">
                                    <label class="control-label">Titulaire de la carte</label>
                                    <input type="text" th:name="nomTitulaireCB" th:value="*{nomTitulaireCB}" class="form-control"/>
                                     <div class="alert alert-danger" th:errors="*{nomTitulaireCB}"></div>
                                </div>
                                
                                <div class="form-group">
                                    <label class="control-label">Numéro carte</label>
                                    <input type="text" th:name="numeroCarte" th:value="*{numeroCarte}" class="form-control"/>
                                     <div class="alert alert-danger" th:errors="*{numeroCarte}"></div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label">Date d'expiration</label>
                                    <input type="date" th:name="dateExpiration" th:value="*{dateExpiration}" class="form-control" />
                                     <div class="alert alert-danger" th:errors="*{dateExpiration}"></div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label">Code crypto</label>
                                    <input type="text" th:name="codeCryptographique" th:value="*{codeCryptographique}" class="form-control" />
                                     <div class="alert alert-danger" th:errors="*{codeCryptographique}"></div>
                                </div>
                                <div>
                                    <button type="submit" class="col-md-2 col-md-offset-10 btn btn-success">ok</button>
                                </div>
                            </form>
                                
                                
                        </div> 
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>
