<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html 
    xmlns="http://www.w3.org/1999/xhtml"
    xmlns:th="http://www.thymeleaf.org" 
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    
    layout:decorator="template1">
    
    <head>
        <title>Easy Cab | Espace personnel</title>
        <meta charset="UTF-8" />
        <link rel="stylesheet" type="text/css" th:href="@{/css/myStyle.css}" />
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <script>
            $(document).ready(function(){
                $("#idGare").hide();
                $("#idVille").hide();
                $("#idAeroport").show();
                 
                 
                $("#idBtnAeroport").click(function(){
                    $("#idGare").hide();
                    $("#idVille").hide();
                    $("#idAeroport").show();
                });
                $("#idBtnGare").click(function(){
                    $("#idAeroport").hide();
                    $("#idVille").hide();
                    $("#idGare").show();
                });
                $("#idBtnVille").click(function(){
                    $("#idGare").hide();
                    $("#idAeroport").hide();
                    $("#idVille").show();
                });
            });
                
            </script>
      
    </head>
    <body>
        <div layout:fragment="content">
            <div class="container">
                <div class="col-md-4 col-md-offset-4 spacer">
                    
                    <button id="idBtnAeroport" class="btn btn-primary"><span class="glyphicon glyphicon-plane" /> Aéroport </button>        
                    <button id="idBtnGare" class="btn btn-default"><span class="glyphicon glyphicon-briefcase" /> Gare </button>        
                    <button id="idBtnVille" class="btn btn-warning"><span class="glyphicon glyphicon-road" /> Ville </button>        
                    
                    <div class="panel panel-info">
                        <div class="panel-heading">Informations pour la réservation</div>
                        <div class="panel-body">
                          
                            <!-- rajouter javascript pour unique choix -->
                            <form th:action="@{/confirmationCommande}" th:object="${memoCourse}" method="post">
                               
                                
                                
                                <div id="idAeroport" class="form-group">
                                    <label>Aeroport</label>
                                    <select th:field="*{choixAeroport}" size="1" class=" form-control">
                                        <option th:each=" a : *{listAeroports}" th:value="${a.nom}" th:text="${a.nom}"></option>
                                    </select>
                                </div>
                                
                            
                                <div id="idGare" class="form-group">
                                    <label>Gare</label>
                                    <select th:field="*{choixGare}" size="1" class="form-control">
                                        <option th:each="g : *{listGares}" th:value="${g.nom}" th:text="${g.nom}"></option>
                                    </select>
                                </div>
                                
                                <div id="idVille" class="form-group">
                                     <label>Ville</label>
                                    <select th:field="*{choixVille}" size="1" class="form-control">
                                        <option th:each="v : *{listVilles}" th:value="${v.nom}" th:text="${v.nom}"></option>
                                    </select>
                                </div>
                                   
                               
                                <div  class="form-group">
                                    <label>Service</label>
                                    <select th:field="*{choixService}" size="1" class=" form-control">
                                        <option th:each=" s : *{listServices}" th:value="${s.nom}" th:text="${s.nom}"></option>
                                    </select>
                                </div>
                                
                                
                                
                                <button type="submit" class="btn btn-primary">valider</button>
                             <!--   
                             
                               <div  class="form-group">
                                    <select name="nomAeroport" size="1" class=" form-control">
                                        <option>Charles de Gaule</option>
                                        <option>Orly</option>
                                        <option>Beauvais</option>
                                    </select>
                                </div>
                                <div class="form-group">
                                    <label><span class="glyphicon glyphicon-briefcase" /> Gare</label>
                                    <select name="nomAeroport" size="1" class=" form-control">
                                        <option>Paris Gare du Nord</option>
                                        <option>Paris Gare de Bercy</option>
                                        <option>Paris Gare de Montparnasse</option>
                                        <option>Cergy-prefecture</option>
                                    </select>
                                </div>
                                
                                <div class="form-group">
                                    <label><span class="glyphicon glyphicon-road" /> Ville</label>
                                    <select name="nomAeroport" size="1" class=" form-control">
                                        <option>Paris</option>
                                        <option>Cergy</option>
                                        <option>Beauvais</option>
                                    </select>
                                </div>
                             
                             -->
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <script>
            $(document).ready(function(){
                $("button").click(function(){
                    alert("ok");
                });
           });
       </script>
    </body>
</html>
