<!DOCTYPE html>
<html 
    xmlns="http://www.w3.org/1999/xhtml" 
    xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>EasyCAB</title>
        <meta charset="UTF-8" />
        <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}" />
        <link rel="stylesheet" type="text/css" th:href="@{/css/myStyle.css}" />
        <link rel="icon" th:href="@{/images/car-icon_24.png}" />
    </head>
    
    <body>
        <header>
            <nav class="navbar navbar-inverse">
                <div class="container-fluid">
                    <div class="navbar-header">
                        <a class="navbar-brand" href="#">EasyCab</a>
                    </div>
                    <ul class="nav navbar-nav">
                        <li class="active"><a th:href="@{/accueil}" class="glyphicon glyphicon-home" /></li>
                        <li><a href="#">Commander</a></li>
                        <li><a href="#">Prix</a></li>
                        <li><a href="#">Espace Personnel</a></li> <!-- th:if si connecte -->
                    </ul>
                    <ul class="nav navbar-nav navbar-right" th:if="${client} == null">
                        <li><a th:href="@{/accueil/seConnecter}"><span class="glyphicon glyphicon-log-in"></span> Se Connecter</a></li>
                        <li><a th:href="@{/accueil/sinscrire}"><span class="glyphicon glyphicon-user"></span> S'inscrire</a></li>
                    </ul>
                    <ul class="nav navbar-nav navbar-right" th:if="${client}">
                        <li><a th:href="@{/accueil/seDeconnecter}"><span class="glyphicon glyphicon-log-out"> Déconnexion</span></a></li>
                    </ul>
                </div>
            </nav>
        </header>
        
        <section layout:fragment="content" ></section>
        
        <footer>
            <div class="navbar-fixed-bottom">
                <small>@EasyCab adresse</small>
            </div>
        </footer>
        
        
        
        
        
        
    </body>
</html>
